.panel.panel-default.filter-box
  .panel-heading
    Filters
  .panel-body
    .btn-group-lg.center
      %button.btn.btn-primary{ type: :button, checked: :checked, 'data-toggle': :button, 'aria-pressed': false, autocomplete: :off }
        Ideas
      %button.btn.btn-primary{ type: :button, checked: :checked, 'data-toggle': :button, 'aria-pressed': false, autocomplete: :off }
        Active
      %button.btn.btn-primary{ type: :button, checked: :checked, 'data-toggle': :button, 'aria-pressed': false, autocomplete: :off }
        Done
