%h1 Listing hustles

%h2= current_user.name

= link_to "Sign out", destroy_user_session_path, :method => :delete

%table
  %thead
    %tr
      %th Name
      %th Created
      %th Modified
      %th Total
      %th
      %th
      %th

  %tbody
    - @hustles.each do |hustle|
      = render partial: 'hustle', locals: { hustle: hustle }

%br

= link_to 'New Hustle', new_hustle_path
