
%h1
  your hustles
%h3.text-right
  = current_user.name

- @hustles.order(:modified).reverse.each do |hustle|
  = hustle_blob hustle

.row
  .col-xs-6.text-center
    = link_to 'new hustle', new_hustle_path
  .col-xs-6.text-center
    = link_to 'sign out', destroy_user_session_path, :method => :delete
