-# requires 'model' 'attr'

.live-label-group
  %table
    %tr
      %td
        %label{ for: "name" }
          Saghir
        %input.edit-input{ type: "text", hidden: "hidden" }
      %td
        %a.edit
          .glyphicon.glyphicon-pencil