-# requires 'model' 'attr' 'url'
:ruby
  options = {} unless local_assigns[:options].present?
  data = { id: model.id }

.live-label-group{ 'data-target': url, 'data-id': model.id }
  %table
    %tr
      %td
        %label.live-label
          = model.send attrib
        .wrap
          = tag :input, class: 'autoresize live-label', type: 'text', value: model.send(attrib), **options
      %td           
        %a.live-label.btn.btn-default{ remote: true, data: { behavior: 'ajax-spin', target: '.spinner' } }
          .fa.fa-pencil