-# requires 'model' 'attr' 'url'

.live-label-group
  = form_for model, url: url do |f|
    %table
      %tr
        %td
          %label{ for: "name" }
            = model.send attrib
          = f.text_field attrib
        %td
          %a.edit
            .glyphicon.glyphicon-pencil