/* background coloring for blobs */
.panel-heading, .panel-footer {
  font-weight: bold;
  background-color: rgb(190,190,190);
}

.fa.fa-dot-circle-o.active-hustle {
  color: yellow;
}

.panel-body {
  background-color: #f7f7ff;
}

a:hover {
  color: #F66;
}

a:link, a:visited {
  color: #448;
}

a:active {
  color: #666;
}

.panel.panel-default.hustle {
  border: 1px solid black;
}

.panel-heading {
  padding: 0px;
}

.panel-heading.hustle .vert-center {
  padding: 0px;
  padding-top: 6px;
  padding-right: 6px;
}

.panel-heading.deed .fa.fa-chevron-down {
  padding-right: 3px;
  padding-left: 3px;
}

.panel-heading.deed .fa.fa-chevron-right {
  padding-right: 5px;
  padding-left: 5px;
}

.panel-heading.deed .close-col {
  color: #CC88FF;
}

.panel-heading.hustle {
  padding: 5px;
}

.panel-heading.deed.idea {
  background-color: #99dd99;
}

.panel-heading.deed.active {
  background-color: #DDDD77;
}

.panel-heading.deed.done {
  background-color: #ddd;
}

.blob-link {
  cursor: pointer;
  font-weight: bold;
}