/* background coloring for blobs */
.panel-heading, .panel-footer {
  font-weight: bold;
  background-color: rgb(190,190,190);
}

.panel-body {
  background-color: #f7f7ff;
}col

a:hover {
  color: #F66;
}

a:link, a:visited {
  color: #448;
}

a:active {
  color: #666;
}

.panel-heading.deed.idea {
  background-color: #44AA44;
}

.panel-heading.deed.active {
  background-color: #AAAA00;
}

.panel-heading.deed.done {
}

