label.live-label {
  margin-left: 2px;
  margin-top: 3px;
  margin-bottom: 3px;

  padding-top: 0px;
  padding-top: 0px;
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid white;
}

label.live-label:hover {
  border: 1px dotted #555555;
}

p.live-label {
  margin: 01}

input.live-label {
  display: none;
}

.btn.little {
  color: #CCC;

  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 6px;
  padding-right: 6px;
}