label.live-label {
  margin-left: 2px;
  margin-top: 3px;
  margin-bottom: 3px;

  padding-top: 0px;
  padding-top: 0px;
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid white;

  /*&:hover {
    border: 1px dotted lightgray;
  }*/
}

label.live-label:hover {
  border: 1px dotted lightgray;
}

p.live-label {
  margin: 01}

input.live-label {
  display: none;
}

.live-label.btn {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 7px;
  padding-right: 7px;
}